
$Blue:rgb(168, 197, 226);

$DarkBlue:rgb(151, 181, 226);

$Yellow:rgb(233, 190, 129);

$DarkYellow:rgb(220, 170, 101);

$Green:rgb(73, 116, 73);

$DarkGreen:rgb(41, 72, 41);

$White:rgb(255, 255, 255);

$Grey:rgb(209, 208, 208);

$DarkGrey: rgb(162, 161, 161);

$Black:rgb(0, 0, 0);
