footer{
    background-color: rgb(168, 197, 226);
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
    position: relative;
}

footer a.active{
    text-decoration: underline;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.undersidor{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}
.footer img{
    position: absolute;
    bottom: 50px;
}

.sociala{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.logo{
    width: 130px;
}

.sociala img{
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

footer span {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 957px) {
    .logo{
            width: 10rem;
            height: 5rem;
            margin-top: 50px;
        }
    footer{
        flex-direction: row;
        height: 200px;

    }

    .undersidor{
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    .sociala{
        flex-direction: column;
    }
}