footer{
    background-color: rgb(168, 197, 226);
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.logo{
    width: 130px;
}

.sociala img{
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

footer span {
    display: flex;
    justify-content: space-between;
}