* {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

@font-face {
* {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    src: "https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap";
}
    
}

// 

btn {
    background-color: $Yellow;
    text-align: center;
    border-radius: 10px;
    border: 2px solid $DarkYellow;
    color: black;
    &:hover{
        background-color: $DarkYellow;
    }
}



// HÄR! osäker hur vi ska ha!

// @media (min-width: 957px){
//     * {
//         height: 80vh; 
//         justify-content: center;
//     }
// }