header{
    background-color: rgb(168, 197, 226);
    width: 100%;
    text-align: center;
    img {
        width: 200px;
}
}

.desktop{
    display: none;
}

nav.mobile{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 2rem;
    align-items: center;
}

nav img{
    width: 20px;
    cursor: pointer;
    padding: 15px 15px 7px 15px;
}

nav div a:not(li a) {
    font-size: 40px;
    color: black;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    max-width: 0;
}

li{
    padding: 0;
    margin: 0;
    list-style: none;
    a{
        font-size: 30px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(232, 232, 232);
        color: black;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
}
}


.meny{
    position: relative;
    display: inline-block;
}

.ner{
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    display: block;

}

.dropdown{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    z-index: 1;
    top: 100%;
    left: 0;
    margin: 0;
}

.dropdown li a:hover{
    background-color: rgb(232, 232, 232);
}


.meny:hover .dropdown{
    display: block;
}

@import './colors';

@media (min-width: 957px) {

    header{
        text-align: left;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    header img {
        width: 250px;
        padding-left: 30px;
    }
    nav{
        background-color:rgb(255, 255, 255) ;
        position: sticky;
        top: 131px;
        z-index: 1;
        padding: 0;    
    }
    .meny{
        display: none;
    }
    .desktop{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch ;
    }
    .containernav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        a{
            font-size: 20px;
            margin: 0 30px;
        }
    }

    .nav1{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            background-color: $Yellow;
            padding: 10px 20px;
            border: 2px solid $DarkYellow;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: $DarkYellow;
            }
        }
    }

    .nav2{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    nav img {
        display: none;
    }
}