
$blue:rgb(168, 197, 226);

$darkBlue:rgb(151, 181, 226);

$yellow:rgb(244,202,142);

$darkYellow:rgb(220, 170, 101);

$green:rgb(73, 116, 73);

$darkGreen:rgb(41, 72, 41);

$white:rgb(255, 255, 255);

$grey:rgb(209, 208, 208);

$darkGrey: rgb(162, 161, 161);

$black:rgb(0, 0, 0);

// hover background
$lightYellow: rgb(255, 211, 149);