header {
  background-color: rgb(168, 197, 226);
  width: 100%;
  text-align: center;
}
header img {
  width: 200px;
}

.desktop {
  display: none;
}

nav.mobile {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  align-items: center;
}

nav img {
  width: 20px;
  cursor: pointer;
  padding: 15px 15px 7px 15px;
}

nav div a:not(li a) {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
li a {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(232, 232, 232);
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.meny {
  position: relative;
  display: inline-block;
}

.ner {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
  z-index: 2;
  top: 100%;
  left: 0;
  margin: 0;
}

.dropdown li a:hover {
  background-color: rgb(232, 232, 232);
}

.meny:hover .dropdown {
  display: block;
}

@media (min-width: 957px) {
  header {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header img {
    width: 250px;
    padding-left: 30px;
  }
  nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 131px;
    z-index: 2;
    padding: 0;
  }
  .meny {
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .containernav a {
    font-size: 20px;
    margin: 0 30px;
  }
  .nav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav1 a {
    background-color: rgb(244, 202, 142);
    padding: 10px 20px;
    border: 2px solid rgb(220, 170, 101);
    border-radius: 10px;
    cursor: pointer;
  }
  .nav1 a:hover {
    background-color: rgb(220, 170, 101);
  }
  .nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img {
    display: none;
  }
}
footer {
  background-color: rgb(168, 197, 226);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
  position: relative;
}

footer a.active {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.undersidor {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.undersidor a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footer img {
  position: absolute;
  bottom: 50px;
}

.sociala {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.logo {
  width: 130px;
}

.sociala img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

footer span {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 957px) {
  .logo {
    width: 10rem;
    height: 5rem;
    margin-top: 50px;
  }
  footer {
    flex-direction: row;
    height: 200px;
  }
  .undersidor {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .sociala {
    flex-direction: column;
  }
}
* {
  font-family: "Merriweather", "Times New Roman", Times, serif;
}

@font-face {
  * {
    font-family: "Merriweather", "Times New Roman", Times, serif;
  }
}
body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about, .employees {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about h3, .employees h3 {
  align-self: center;
}
.about .owners, .employees .owners {
  width: 500px;
}

.containerPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUs, .ourVision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUs img, .ourVision img {
  align-self: center;
}

.ourVision {
  padding-top: 50px;
}

.employees div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: solid rgb(168, 197, 226);
  gap: 2px;
  padding: 30px;
}
.employees img {
  width: 250px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 957px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: row;
    align-items: center;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .about:first-child {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    align-items: flex-start;
  }
  .aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgOwners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .employees {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
}/*# sourceMappingURL=about.css.map */