@import './base';


.about, .employees {
  @include flexPrimary(space-between);

  h3 {
    align-self: center;
  }
  .owners {
    width: 500px;
  }

}

.containerPic {
  @include flexPrimary(center);
}


.aboutUs, .ourVision {
  @include flexPrimary(center);
  width: 500px;
  img {
    align-self: center;
  }
}
.ourVision {
  padding-top: 50px;
}

.employees {
  div {
  @include flexPrimary(space-evenly);
  flex-wrap: wrap;
  border-bottom: solid grey;
  gap: 2px;
  padding: 30px;
  }
  img {
  width: 250px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  }
}

@media (min-width:957px) {
  // .nav2 :first-child {
  //   text-decoration: underline;
  // }

  .about {
    @include flexDirection(row);
    justify-content: space-between;
    width: 1800px;
  
    :first-child {
      align-self: flex-start;
    }
    :nth-child(2){
      align-self: flex-end;
      width: 1000px;
    }
    img {
      width: 500px;
    }
  }
  .employees {
    @include flexDirection(row);
    > div {
      width: 500px;
      flex-wrap: wrap;
    } 
  }
  
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

}