@import 'base';
@import 'mixin';

* {
  @include mixin;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  .aboutUs {
    align-self: center;
  }
}

.history, .employees {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  h3 {
    align-self: center;
  }
  .owners {
    width: 365px;
  }

> div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  // border-bottom: solid grey;
  gap: 2px;
  // padding: 30px;
  
  > img {
    width: 250px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
}

.readMore {
  background-color: rgb(110, 110, 201);
  border-radius: 20px;
  padding: 10px;

  :first-child {
    color: white;
  }
}

.readMore:hover {
  background-color: rgb(121, 121, 200);
}