header {
  background-color: rgb(168, 197, 226);
  width: 100%;
  text-align: center;
}
header img {
  width: 200px;
}

.desktop {
  display: none;
}

nav.mobile {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  align-items: center;
}

nav img {
  width: 20px;
  cursor: pointer;
  padding: 15px 15px 7px 15px;
}

nav div a:not(li a) {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
li a {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(232, 232, 232);
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.meny {
  position: relative;
  display: inline-block;
}

.ner {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
  z-index: 1;
  top: 100%;
  left: 0;
  margin: 0;
}

.dropdown li a:hover {
  background-color: rgb(232, 232, 232);
}

.meny:hover .dropdown {
  display: block;
}

@media (min-width: 957px) {
  header {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header img {
    width: 250px;
    padding-left: 30px;
  }
  nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 131px;
    z-index: 1;
    padding: 0;
  }
  .meny {
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .containernav a {
    font-size: 20px;
    margin: 0 30px;
  }
  .nav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav1 a {
    background-color: rgb(244, 202, 142);
    padding: 10px 20px;
    border: 2px solid rgb(220, 170, 101);
    border-radius: 10px;
    cursor: pointer;
  }
  .nav1 a:hover {
    background-color: rgb(220, 170, 101);
  }
  .nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img {
    display: none;
  }
}
footer {
  background-color: rgb(168, 197, 226);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
  position: relative;
}

footer a.active {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.undersidor {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.undersidor a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footer img {
  position: absolute;
  bottom: 50px;
}

.sociala {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.logo {
  width: 130px;
}

.sociala img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

footer span {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 957px) {
  .logo {
    width: 10rem;
    height: 5rem;
    margin-top: 50px;
  }
  footer {
    flex-direction: row;
    height: 200px;
  }
  .undersidor {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .sociala {
    flex-direction: column;
  }
}
* {
  font-family: "Merriweather", "Times New Roman", Times, serif;
}

@font-face {
  * {
    font-family: "Merriweather", "Times New Roman", Times, serif;
  }
}
btn {
  background-color: rgb(244, 202, 142);
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(220, 170, 101);
  color: black;
}
btn:hover {
  background-color: rgb(220, 170, 101);
}

body {
  margin: 0;
  padding: 0;
}

.contact-us {
  text-decoration: underline;
}

h1 {
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(168, 197, 226);
  margin: 0;
  font-size: 24px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 16px;
}
section form {
  background-color: rgb(209, 208, 208);
  border: 1 px solid rgb(151, 181, 226);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  min-width: 275px;
  margin: 20px;
  box-shadow: 2px 4px 4px -4px rgb(0, 0, 0);
}
section form .textbox {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  padding: 1px;
}
section form input[type=email], section form select, section form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: monospace;
}
section form label, section form dropdownlabel {
  font-size: 18px;
}
section form button[type=submit] {
  background-color: rgb(244, 202, 142);
  padding: 10px;
  border: 2px solid rgb(220, 170, 101);
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}
section form button:hover {
  background-color: rgb(220, 170, 101);
}
section .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .contact-info .info-box {
  max-width: 600px;
  margin: 20px;
  padding: 15px;
  border: 1 px solid rgb(151, 181, 226);
  border-radius: 5px;
  background-color: rgb(209, 208, 208);
  box-shadow: 2px 4px 4px -4px rgb(0, 0, 0);
}
section .contact-info .info-box img {
  width: 100%;
}

@media (min-width: 957px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 16px;
  }
  section form {
    background-color: rgb(209, 208, 208);
    border: 1 px solid rgb(151, 181, 226);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    min-width: 275px;
    margin: 20px;
    box-shadow: 2px 4px 4px -4px rgb(0, 0, 0);
  }
  section form .textbox {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    padding: 1px;
  }
  section form input[type=email], section form select, section form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: monospace;
  }
  section form label, section form dropdownlabel {
    font-size: 18px;
  }
  section form button[type=submit] {
    background-color: rgb(244, 202, 142);
    padding: 10px;
    border: 2px solid rgb(220, 170, 101);
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  section form button:hover {
    background-color: rgb(220, 170, 101);
  }
  section .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  section .contact-info .info-box {
    max-width: 600px;
    margin: 20px;
    padding: 15px;
    border: 1 px solid rgb(151, 181, 226);
    border-radius: 5px;
    background-color: rgb(209, 208, 208);
    box-shadow: 2px 4px 4px -4px rgb(0, 0, 0);
  }
  section .contact-info .info-box img {
    width: 400px;
  }
}/*# sourceMappingURL=contact.css.map */