header {
  background-color: rgb(168, 197, 226);
  width: 100%;
  text-align: center;
}
header img {
  width: 200px;
}

.desktop {
  display: none;
}

nav.mobile {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  align-items: center;
}

nav img {
  width: 20px;
  cursor: pointer;
  padding: 15px 15px 7px 15px;
}

nav div a:not(li a) {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
li a {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(180, 180, 180);
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.meny {
  position: relative;
  display: inline-block;
}

.ner {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
  z-index: 1;
  top: 100%;
  left: 0;
  margin: 0;
}
.dropdown li a:hover {
  background-color: rgb(255, 255, 255);
}

.meny:hover .dropdown {
  display: block;
}

footer {
  background-color: rgb(168, 197, 226);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.logo {
  width: 130px;
}

.sociala img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

footer span {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 957px) {
  header {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header img {
    width: 250px;
    padding-left: 30px;
  }
  nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 131px;
    z-index: 1;
    padding: 0;
  }
  .meny {
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .containernav a {
    font-size: 20px;
    margin: 0 30px;
  }
  .nav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav1 a {
    background-color: rgb(73, 116, 73);
    padding: 10px 20px;
    border: 2px solid rgb(41, 72, 41);
    border-radius: 10px;
    cursor: pointer;
  }
  .nav1 a:hover {
    background-color: rgb(41, 72, 41);
  }
  .nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img {
    display: none;
  }
}
@media (min-width: 957px) {
  .logo {
    width: 10rem;
    height: 5rem;
    margin-top: 50px;
  }
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(168, 197, 226);
  border: 2px solid rgb(151, 181, 226);
  border-radius: 10px;
  width: 200px;
  margin: 0;
  font-size: 20px;
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: merriwhether, serif;
  font-size: 16px;
}

form {
  background-color: rgb(226, 224, 224);
  border: 1 px solid rgb(171, 162, 162);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
  box-shadow: 2px 4px 4px -4px black;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: monospace;
}

label, dropdownlabel {
  font-size: 18px;
}

button[type=submit] {
  background-color: rgb(244, 202, 142);
  padding: 10px;
  border: 2px solid rgb(220, 170, 101);
  border-radius: 10px;
  font-size: 24px;
  font-family: merriwhether, serif;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(220, 170, 101);
}

.textbox {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  padding: 1px;
}/*# sourceMappingURL=contact.css.map */