@import 'base';

section {
    @include flexPrimary(space-evenly);
    @include flexDirection(column);
        form {
        background-color: $grey;
        padding: 30px;
        border-radius: 5px;
        max-width: 300px;
        min-width: 275px;
        margin: 20px;
        box-shadow: 2px 4px 4px -4px $black;
            .textbox {
            h1 {
            background-color: $blue;
            margin: 0;
            padding: 10px 20px;
            } 
            }
            input[type="email"], select, textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0 15px 0;
            border: 1px solid $black;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            font-family: monospace;
            }
            label {
            font-weight: bold;
            }
            button[type="submit"] {
            width: 100%;
            background-color: $yellow;
            padding: 10px;
            border: 2px solid $darkYellow;
            border-radius: 10px;
            font-size: 24px;
            cursor: pointer;
            }
            button:hover {
            background-color: $darkYellow;
            }
        }
    .contact-info {
        @include flexPrimary(space-evenly);
        @include flexDirection(column);
            .info-box {
            max-width: 300px;
            min-width: 275px;
            margin: 30px;
            padding: 15px;
            border-radius: 5px;
            background-color: $grey;
            box-shadow: 2px 4px 4px -4px $black;
                img {
                max-width: 300px;
                min-width: 275px;
                }
            }
        }
    }

@media (min-width: 957px) {
section {
    @include flexPrimary(space-evenly);
    @include flexDirection(row);
    .contact-info {
        @include flexPrimary(space-evenly);
        @include flexDirection(row);
        }
    }
}