html {
  font-family: "Merriweather", "Times New Roman", Times, serif;
}

header {
  background-color: rgb(168, 197, 226);
  width: 100%;
  text-align: center;
}
header img {
  width: 200px;
}

.desktop {
  display: none;
}

nav.mobile {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  align-items: center;
}

nav img {
  width: 20px;
  cursor: pointer;
  padding: 15px 15px 7px 15px;
}

nav div a:not(li a) {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
li a {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(232, 232, 232);
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.meny {
  position: relative;
  display: inline-block;
}

.ner {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
  z-index: 1;
  top: 100%;
  left: 0;
  margin: 0;
}

.dropdown li a:hover {
  background-color: rgb(232, 232, 232);
}

.meny:hover .dropdown {
  display: block;
}

@media (min-width: 957px) {
  header {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header img {
    width: 250px;
    padding-left: 30px;
  }
  nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 131px;
    z-index: 1;
    padding: 0;
  }
  .meny {
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .containernav a {
    font-size: 20px;
    margin: 0 30px;
  }
  .nav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav1 a {
    background-color: rgb(244, 202, 142);
    padding: 10px 20px;
    border: 2px solid rgb(220, 170, 101);
    border-radius: 10px;
    cursor: pointer;
  }
  .nav1 a:hover {
    background-color: rgb(220, 170, 101);
  }
  .nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img {
    display: none;
  }
}
footer {
  background-color: rgb(168, 197, 226);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.logo {
  width: 130px;
}

.sociala img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

footer span {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 957px) {
  .logo {
    width: 10rem;
    height: 5rem;
    margin-top: 50px;
  }
}
@font-face {
  font-family: Merriweather;
  src: "https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap";
}
body {
  background-image: url("../Pics/body.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}

h1, h2 {
  text-align: center;
  padding: 15px 15px;
  background-color: rgb(168, 197, 226);
  border: 2px solid rgb(151, 181, 226);
  border-radius: 15px;
  width: 300px;
}

.desktop {
  display: none;
}

.desktop1 {
  display: none;
}

main .bg {
  padding: 30px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews_con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 60px 30px;
}

.reviews_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rev_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(198, 216, 234, 0.8);
  padding: 30px 20px;
  border: 2px solid rgb(161, 188, 215);
  border-radius: 10px;
}
.rev_1 p:first-of-type {
  font-weight: bold;
}

.rev_2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 20px;
  padding: 20px 40px;
  background-color: rgba(198, 216, 234, 0.8);
  border: 2px solid rgb(161, 188, 215);
  border-radius: 10px;
  margin: 20px 0;
}
.rev_2 p:first-of-type {
  font-weight: bold;
  padding: 40px 0 0 15px;
}

.profil {
  width: 120px;
}

.stars {
  width: 150px;
}

.abs {
  position: absolute;
  top: 90px;
  left: 170px;
}

.trust {
  background-color: rgb(209, 226, 243);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.brand {
  width: 10%;
}

@media (min-width: 957px) {
  main .mobile {
    display: none;
  }
  main .bg {
    display: none;
  }
  body nav.desktop {
    display: flex;
  }
  main .desktop1 {
    display: flex;
    flex-direction: column;
  }
  main .desktop1 .con1 {
    display: flex;
    justify-content: space-around;
    margin: 10px 30px;
  }
  .div456 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div456 img {
    max-width: 600px;
  }
  .div123 {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div123 .rev_2 {
    margin: 20px 0;
  }
  .con2 {
    margin: 0 120px;
    margin-bottom: 20px;
  }
  body {
    background-image: url("../Pics/body.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }
}/*# sourceMappingURL=reviews.css.map */