@use './base';
@use './colors';

figure {
  position: relative;
  margin: 0;
  h1{
    background-color: rgb(168, 197, 226);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  img{
    width: 100%;
  }
  a{
    background-color: rgb(233, 190, 129);
  }
}
