header {
  background-color: rgb(168, 197, 226);
  width: 100%;
  text-align: center;
}

header img {
  width: 200px;
}

.desktop {
  display: none;
}

nav.mobile {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  align-items: center;
}

nav img {
  width: 20px;
  cursor: pointer;
  padding: 15px 15px 7px 15px;
}

nav div a:not(li a) {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li a {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(180, 180, 180);
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.meny {
  position: relative;
  display: inline-block;
}

.ner {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
  z-index: 1;
  top: 100%;
  left: 0;
  margin: 0;
}

.dropdown li a:hover {
  background-color: rgb(224, 221, 221);
}

.meny:hover .dropdown {
  display: block;
}

@media (min-width: 957px) {
  header {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header img {
    width: 250px;
    padding-left: 30px;
  }
  nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 131px;
    z-index: 1;
    padding: 0;
  }
  .meny {
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .containernav a {
    font-size: 20px;
    margin: 0 30px;
  }
  .nav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav1 a {
    background-color: rgb(73, 116, 73);
    padding: 10px 20px;
    border: 2px solid rgb(41, 72, 41);
    border-radius: 10px;
    cursor: pointer;
  }
  .nav1 a:hover {
    background-color: rgb(41, 72, 41);
  }
  .nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img {
    display: none;
  }
}
footer {
  background-color: rgb(168, 197, 226);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.logo {
  width: 130px;
}

.sociala img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

footer span {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 957px) {
  .logo {
    width: 10rem;
    height: 5rem;
    margin-top: 50px;
  }
}
header {
  background-color: rgb(199, 199, 199);
  width: 100%;
  text-align: center;
}

header img {
  width: 200px;
}

span figure img {
  width: 100%;
}

header {
  background-color: rgb(168, 197, 226);
  width: 100%;
  text-align: center;
}

header img {
  width: 200px;
}

span figure img {
  width: 100%;
}

.desktop {
  display: none;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

span figure a {
  position: absolute;
  right: 5rem;
  top: 15rem;
  background-color: rgb(244, 202, 142);
  border: 2px solid rgb(231, 188, 127);
  border-radius: 50%;
  padding: 40px;
  text-align: center;
}

img {
  width: 100%;
}

a {
  background-color: rgb(233, 190, 129);
  border: 6px solid rgb(220, 170, 101);
  color: black;
  text-align: center;
  padding: 40px;
  position: absolute;
  border-radius: 50%;
  top: 15rem;
  right: 5rem;
}
a:hover {
  background-color: rgb(220, 170, 101);
}/*# sourceMappingURL=style.css.map */