@import './base';
@import './colors';

figure {
  position: relative;
  margin: 0;
  h1{
    background-color: $Blue;
    padding: 20px;
    text-align: center;
  }
  img{
    width: 100%;
  }
  a{
    background-color: $Yellow;
    border: 4px solid $DarkYellow;
    color: black;
    text-align: center;
    padding: 40px;
    position: absolute;
    border-radius: 50%;
    top: 15rem;
    right: 5rem;
    &:hover{
      background-color: $DarkYellow;
    }
  }
}
