header {
  background-color: rgb(168, 197, 226);
  width: 100%;
  text-align: center;
}
header img {
  width: 200px;
}

.desktop {
  display: none;
}

nav.mobile {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  align-items: center;
}

nav img {
  width: 20px;
  cursor: pointer;
  padding: 15px 15px 7px 15px;
}

nav div a:not(li a) {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
li a {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(232, 232, 232);
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.meny {
  position: relative;
  display: inline-block;
}

.ner {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
  z-index: 2;
  top: 100%;
  left: 0;
  margin: 0;
}

.dropdown li a:hover {
  background-color: rgb(232, 232, 232);
}

.meny:hover .dropdown {
  display: block;
}

@media (min-width: 957px) {
  header {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header img {
    width: 250px;
    padding-left: 30px;
  }
  nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 131px;
    z-index: 2;
    padding: 0;
  }
  .meny {
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .containernav a {
    font-size: 20px;
    margin: 0 30px;
  }
  .nav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav1 a {
    background-color: rgb(244, 202, 142);
    padding: 10px 20px;
    border: 2px solid rgb(220, 170, 101);
    border-radius: 10px;
    cursor: pointer;
  }
  .nav1 a:hover {
    background-color: rgb(220, 170, 101);
  }
  .nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img {
    display: none;
  }
}
footer {
  background-color: rgb(168, 197, 226);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
  position: relative;
}

footer a.active {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.undersidor {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.undersidor a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footer img {
  position: absolute;
  bottom: 50px;
}

.sociala {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.logo {
  width: 130px;
}

.sociala img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

footer span {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 957px) {
  .logo {
    width: 10rem;
    height: 5rem;
    margin-top: 50px;
  }
  footer {
    flex-direction: row;
    height: 200px;
  }
  .undersidor {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .sociala {
    flex-direction: column;
  }
}
* {
  font-family: "Merriweather", "Times New Roman", Times, serif;
}

@font-face {
  * {
    font-family: "Merriweather", "Times New Roman", Times, serif;
  }
}
body {
  margin: 0;
}

.rev_2.pri {
  display: none;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}
figure h1 {
  background-color: rgb(168, 197, 226);
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  width: 100%;
  border: 2px solid rgb(151, 181, 226);
}
figure a {
  background-color: rgb(244, 202, 142);
  padding: 3%;
  font-size: 84%;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  border: 6px solid rgb(220, 170, 101);
  position: absolute;
  top: 30%;
  right: 10%;
  color: black;
}
figure a:hover {
  background-color: rgb(220, 170, 101);
}
figure img {
  width: 100%;
}

article {
  position: relative;
}
article h2 {
  text-align: center;
  background-color: rgb(168, 197, 226);
  padding: 10px;
  border-radius: 10px;
}
article img {
  width: 100%;
}
article p {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 14rem;
  left: 5rem;
  color: white;
}

.review-box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.review-box a {
  color: black;
  font-size: 24px;
  background-color: rgb(244, 202, 142);
  border: 2px solid rgb(220, 170, 101);
  border-radius: 10px;
  padding: 10px 30px;
}
.review-box a:hover {
  background-color: rgb(220, 170, 101);
}

.reviews_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.rev_2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: rgba(198, 216, 234, 0.8);
  border: 2px solid rgb(161, 188, 215);
  border-radius: 10px;
  margin: 20px;
}
.rev_2 p {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}

.profil {
  width: 120px;
}

.stars {
  width: 150px;
  top: 6rem;
  left: 9rem;
}

.trust a {
  color: black;
  text-align: center;
  background-color: rgb(168, 197, 226);
  font-size: 24px;
  border: 2px solid rgb(151, 181, 226);
  border-radius: 10px;
  padding: 10px 30px;
}

.trust {
  background-color: rgb(209, 226, 243);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 30px;
}

.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.brand {
  width: 10%;
}

@media (min-width: 957px) {
  header {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  header img {
    width: 250px;
    padding-left: 30px;
  }
  nav {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 131px;
    z-index: 1;
    padding: 0;
  }
  .meny {
    display: none;
  }
  .rev_2.pri {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .containernav a {
    font-size: 20px;
    margin: 0 30px;
  }
  .nav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav1 a {
    background-color: rgb(244, 202, 142);
    padding: 10px 20px;
    border: 2px solid rgb(220, 170, 101);
    border-radius: 10px;
    cursor: pointer;
  }
  .nav1 a:hover {
    background-color: rgb(220, 170, 101);
  }
  .nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img {
    display: none;
  }
  figure h1 {
    background-color: rgb(168, 197, 226);
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    width: 100%;
  }
  figure {
    align-items: center;
  }
  figure a {
    top: 30% m;
    right: 7%;
    text-align: center;
    border-radius: 50%;
    border: 6px solid rgb(220, 170, 101);
    position: absolute;
    color: black;
    padding: 70px;
    width: 20%;
    font-size: 30px;
    width: 250px;
  }
  figure figure a:hover {
    background-color: rgb(220, 170, 101);
  }
  figure figure h1 {
    margin: 20px 0 10px 0;
  }
  img {
    width: 100%;
  }
}
article {
  align-content: center;
}
article h2 {
  font-size: 50px;
  width: 50%;
}

.reviews_cont {
  display: flex;
}

.rev_2 {
  margin: 20px;
}

.rev_2 .profil {
  width: 120px;
}

.rev_2.pri {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}/*# sourceMappingURL=style.css.map */